[contenteditable]:focus { 
  outline: 0px solid transparent;
}
.cell {
  min-height: 20px;
  min-width: 40px;
}
.cell.selected {
  background: #00BFFF;
}
.cell.selected.active {
  background: antiquewhite;
}
