[contenteditable]:focus { 
  outline: 0px solid transparent;
}
.cell {
  min-height: 20px;
  min-width: 40px;
}
.cell.selected {
  border: 1px solid #00BFFF;
}
.cell.selected.active {
  border: 1px dotted #00BFFF;
  background: antiquewhite;
  cursor: text;
}
